@import (reference) "variables";

#elements {
  .button() {
    #effects > .shadow();

    border: none;
    background-color: @theme-red;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
  }

  .textbox() {
    #effects > .shadow();

    border: none;
    box-shadow: 0 0.125rem 0.5rem black;
    padding: 0.5rem 1rem;
    color: black;
    background: white;
    outline: none;
  }
}

#effects {
  .shadow() {
    box-shadow: 0 0.125rem 0.5rem black;
  }
}
