@import (reference) "variables";

#elements {
  .button() {
    #effects > .shadow();

    border: none;
    background-color: @theme-red;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
    outline: none;
  }

  .textbox() {
    #effects > .shadow();

    border: none;
    box-shadow: 0 0.125rem 0.5rem black;
    padding: 0.5rem 1rem;
    color: black;
    background: white;
    outline: none;
  }

  .table() {
    thead tr th,
    tbody tr td {
      padding: 0.5rem;
    }

    thead tr th {
      border-bottom: 0.125rem solid lightgrey;
    }

    tbody tr td {
      border-bottom: 0.0625rem solid lightgrey;
    }
  }
}
#elements > .table();

#effects {
  .shadow() {
    box-shadow: 0 0.125rem 0.5rem black;
  }
}
