@import (reference) "lesshat";
@import (reference) "mixins";

#page-home {
  position: relative;

  .logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 1rem;
    margin: auto;
    width: 10rem;
    height: 5rem;
    background-color: black;
  }

  .jumbotron {
    @height: 25rem;
    @shadow-height: 10rem;

    position: relative;
    height: @height;
    padding: 5rem;
    color: white;
    text-shadow: 0 0 1rem black;
    overflow: hidden;
    box-shadow: inset 0 -@shadow-height @shadow-height -@shadow-height black;

    .background {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;

      img, video {
        width: 100%;
      }
    }

    .title {
      text-align: center;
      font-size: 4rem;
      margin: (@height / 3) 0 0;
    }

    .subtitle {
      text-align: center;
      margin: 0.5rem;
    }

    .search-bar {
      font-size: 1.125rem;
      margin-top: 2.5rem;
      width: 100%;
      text-align: center;

      .geolocate {
        #elements > .button();

        vertical-align: middle;
      }

      .conjunction {
        margin: 0 1rem;
        vertical-align: middle;
      }

      .search-form {
        display: inline-block;
        vertical-align: middle;

        .search-input {
          #elements > .textbox();

          width: 30rem;
        }

        .search-button {
          #elements > .button();
        }
      }
    }
  }

  .tile {
    text-align: center;
  }

  .steps {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .step {
      box-shadow: 0.125rem 0.125rem 0.25rem brown;
      margin: 1rem;
      width: 20rem;
      height: 15rem;
      background-color: lightgray;
    }
  }
}
