<form class="sign-in-form" ng-if="!adminCtrl.isSignedIn()" ng-submit="adminCtrl.authenticate(email, password)">
  <h1 class="title">Entrar</h1>

  <input class="email" name="email" placeholder="E-mail" ng-model="email">
  <input class="password" name="password" placeholder="Senha" ng-model="password">
  <button class="sign-in">Entrar</button>
</form>

<section class="places-panel">
  <header class="header">
    <h1 class="title">Pizzarias</h1>
  </header>

  <button class="add" ng-click="adminCtrl.showPlaceForm = true">Adicionar pizzaria</button>

  <form class="place-form" ng-if="adminCtrl.showPlaceForm">
    <div class="field-group">
      <input class="name" placeholder="Nome">
    </div>

    <div class="field-group">
      <textarea class="description" placeholder="Descrição">
    </div>

    <div class="field-group">
      <input class="address" placeholder="Endereço">
    </div>

    <div class="field-group">
      <input class="latitude" placeholder="Latitude">
      <input class="longitude" placeholder="Longitude">
    </div>

    <div class="field-group">
      <input class="latitude" placeholder="Latitude">
      <input class="longitude" placeholder="Longitude">
    </div>

    <div class="field-group">
      <button class="save">Salvar</button>
      <button class="cancel" ng-click="adminCtrl.showPlaceForm = false">Cancelar</button>
    </div>
  </form>

  <table class="places-table" ng-if="adminCtrl.isSignedIn()">
    <thead>
      <tr>
        <th>Pizzaria</th>
        <th>Endereço</th>
        <th>Desde</th>
        <th>Fotos</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="place in adminCtrl.places">
        <td>{{place.name}}</td>
        <td>{{place.address.formattedAddress}}</td>
        <td>{{place.address.formattedAddress}}</td>
        <td>{{place.pictures.length}}</td>
        <td>
          <a href="www">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
