<form class="sign-in-form" ng-if="!adminCtrl.isSignedIn()" ng-submit="adminCtrl.authenticate(email, password)">
  <h1 class="title">Entrar</h1>

  <input class="email" name="email" placeholder="E-mail" ng-model="email">
  <input class="password" name="password" placeholder="Senha" ng-model="password">
  <button class="sign-in">Entrar</button>
</form>

<section class="places-panel">
  <header class="header">
    <h1 class="title">Pizzarias</h1>
  </header>

  <button class="add" ng-click="adminCtrl.showPlaceForm = true">Adicionar pizzaria</button>

  <form class="place-form" ng-if="adminCtrl.showPlaceForm">
    <div class="field-group">
      <button ng-if="!adminCtrl.logoPicture" class="logo-picture" ng-file-select ng-file-drop accept="image/*" ng-file-change="adminCtrl.generateThumb($files, 'logoPicture')" drag-over-class="drag" hide-on-drop-not-available="true">
        <span >Logo</span>
      </button>

      <div ng-if="adminCtrl.logoPicture" class="logo-picture-preview">
        <img class="preview-image" ng-src="{{adminCtrl.logoPicture}}" alt="logo-preview">
        <button class="remove" ng-click="adminCtrl.logoPicture = undefined">Remover</button>
      </div>
    </div>

    <div class="field-group">
      <button ng-if="!adminCtrl.coverPicture" class="cover-picture" ng-file-select ng-file-drop accept="image/*" ng-file-change="adminCtrl.generateThumb($files, 'coverPicture')" drag-over-class="drag" hide-on-drop-not-available="true">
        <span >Capa</span>
      </button>

      <div ng-if="adminCtrl.coverPicture" class="cover-picture-preview">
        <img class="preview-image" ng-src="{{adminCtrl.coverPicture}}" alt="cover-preview">
        <button class="remove" ng-click="adminCtrl.coverPicture = undefined">Remover</button>
      </div>
    </div>

    <div class="field-group">
      <input class="name" placeholder="Nome">
    </div>

    <div class="field-group">
      <textarea class="description" placeholder="Descrição"></textarea>
    </div>

    <div class="field-group">
      <input class="address" placeholder="Endereço">
    </div>

    <div class="field-group">
      <input class="latitude" placeholder="Latitude">
      <input class="longitude" placeholder="Longitude">
    </div>

    <div class="field-group">
      <input class="latitude" placeholder="Latitude">
      <input class="longitude" placeholder="Longitude">
    </div>

    <div class="field-group">
      <button class="save">Salvar</button>
      <button class="cancel" ng-click="adminCtrl.showPlaceForm = false">Cancelar</button>
    </div>
  </form>

  <table class="places-table" ng-if="adminCtrl.isSignedIn()">
    <thead>
      <tr>
        <th>Pizzaria</th>
        <th>Endereço</th>
        <th>Desde</th>
        <th>Fotos</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="place in adminCtrl.places">
        <td>{{place.name}}</td>
        <td>{{place.address.formattedAddress}}</td>
        <td>{{place.address.formattedAddress}}</td>
        <td>{{place.pictures.length}}</td>
        <td>
          <a href="www">Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
