<img class="logo" src="/resources/images/logo.svg"></img>

<section class="jumbotron fullscreen">
  <my-video-slider class="background" parallax parallax-ratio="0.5">
    <img src="http://farolshopping.com.br/uploads/noticias/4319/imagens_default/original_0c867caf135e39af561a1ae99f431b2b.jpg">
    <!--<video loop autoload muted>-->
      <!--<source src="/resources/videos/jumbotron.webm" type="video/webm">-->
      <!--<source src=http://techslides.com/demos/sample-videos/small.webm type=video/webm>-->
      <!--<source src=http://techslides.com/demos/sample-videos/small.ogv type=video/ogg>-->
      <!--<source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>-->
      <!--<source src=http://techslides.com/demos/sample-videos/small.3gp type=video/3gp>-->
    <!--</video>-->
  </my-video-slider>
  <h1 class="title">Experimente novos sabores</h1>
  <h2 class="subtitle">Encontre aqui as melhores pizzarias da região</h2>
  <div class="search-bar">
    <button class="geolocate" ng-click="home.getLocation()">Buscar nas proximidades</button>
    <span class="conjunction">ou</span>
    <form class="search-form" ng-submit="home.search(home.query, home.coordinates)">
      <input id="search-input" class="search-input" placeholder="Digite um CEP ou endereço" ng-model="home.query" autofocus ng-change="home.getSuggestions(home.query)" my-autocomplete suggestions="home.suggestions" click="home.search">
      <button class="search-button" type="submit">Buscar!</button>
    </form>
  </div>
  <ul class="steps animated">
  <!--<ul class="steps">-->
    <li class="step">
      <!--<h3>Localize pizzarias próximas</h3>-->
      <img class="icon" src="https://cdn0.iconfinder.com/data/icons/ballicons/128/magnifier-128.png" alt="">
      <h3 class="title">Procure</h3>
    </li>
    <li class="step">
      <!--<h3>Escolha o sabor</h3>-->
      <img class="icon" src="https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-part-2/512/apply_ok_check_yes_dialog-128.png" alt="">
      <h3 class="title">Escolha</h3>
    </li>
    <li class="step">
      <img class="icon" src="https://cdn4.iconfinder.com/data/icons/flatron-set-2/512/call-128.png" alt="">
      <h3 class="title">Ligue!</h3>
    </li>
  </ul>
  <a href="#" class="scroll-down" scroll-to="#suggestions" duration="slow">
    Ver mais
  </a>
</section>
<section id="suggestions" class="places">
  <h2 class="title">Sugestões da região</h2>
  <div class="place-list">
    <my-place-box place="place" ng-repeat="place in home.places | limitTo:30"></my-place>
  </div>
</section>

<footer id="page-footer">
  <div class="copyright">© 2014 Só Pizza - Todos os direitos reservados</div>
  <div class="contact">
    Contato: <a href="tel:+5511965614986">(11) 96561-4986</a> ou <a href="mailto:contato@sopizzabrasil.com.br">contato@sopizzabrasil.com.br</a>
  </div>
  </footer>
