<section class="jumbotron">
  <my-video-slider class="background" parallax parallax-ratio="0.5">
    <img ng-src="{{placeCtrl.place.picture}}">
  </my-video-slider>
  <div class="profile-info">
    <img class="picture" alt="profile image" ng-src="{{placeCtrl.place.picture}}">

    <div class="info">
      <h1 class="name">{{placeCtrl.place.name}}</h1>
      <span class="address">{{placeCtrl.place.address.formatted}}</span>
      <a class="call" ng-href="tel:{{place.phoneNumber}}">Ligar</a>
    </div>
  </div>

</section>

<section id="content">
  <div class="dish-menu">
    <h2 class="title">Sabores de Pizza</h2>

    <div class="empty" ng-if="!placeCtrl.place.dishes.length">
      Nenhum sabor encontrado!
    </div>
    <ul class="dish-list" ng-if="placeCtrl.place.dishes.length">
      <li class="dish" ng-repeat="dish in placeCtrl.place.dishes">
        <img class="picture" alt="dish picture" ng-src="{{dish.picture}}">

        <div class="informations">
          <div class="name">{{dish.name}}</div>
          <ul class="ingredients">
            <li class="ingredient" ng-repeat="ingredient in dish.ingredients">
              <a class="ingredient-filter" href="aoeu">{{ingredient}}</a>
            </li>
          </ul>
        </div>

        <div class="pricing">
          <div class="type">Pizza Pequena</div>
          <div class="price">
            <span class="currency">R$</span>
            {{dish.price | currency:''}}
          </div>
          <div class="type">Pizza Grande</div>
          <div class="price">
            <span class="currency">R$</span>
            {{dish.price | currency:''}}
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<aside id="sidebar"> </aside>


<footer id="page-footer">© 2014 Só Pizza</footer>
