<a ui-sref="home">
  <img class="logo small" src="/resources/images/logo.svg">
</a>

<section class="jumbotron">
  <my-video-slider class="background" parallax parallax-ratio="0.5">
    <img ng-if="!isEmpty(placeCtrl.place.cover)" ng-src="{{placeCtrl.place.cover | image:1300:300}}">
  </my-video-slider>
  <div class="profile-info">
    <img class="picture" alt="profile image" ng-if="isEmpty(placeCtrl.place.logoId)" width="160" height="160" src="/resources/images/profile-logo.svg">
    <cl-image class="picture" alt="profile image" ng-if="!isEmpty(placeCtrl.place.logoId)" ng-alt="{{placeCtrl.place.name}}" public-id="{{placeCtrl.place.logoId}}" format="jpg">
      <cl-transformation width="160" height="160" crop="fill" />
    </cl-image>

    <div class="info">
      <h1 class="name">{{placeCtrl.place.name}}</h1>
      <span class="address">{{placeCtrl.place.address.formatted}}</span>
      <a class="call" ng-href="tel:{{placeCtrl.place.phone}}">Ligar</a>
    </div>
  </div>

</section>

<section id="content">
  <div class="dish-menu">
    <h2 class="title">Cardápio</h2>

    <div class="empty" ng-if="!placeCtrl.place.dishes.length">
      <div class="title">Ops! :(</div>
      Este cardápio não está disponível no momento.
    </div>
    <ul class="dish-list" ng-if="placeCtrl.place.dishes.length">
      <li class="dish" ng-repeat="dish in placeCtrl.place.dishes">
        <!--<img class="picture" alt="dish picture" ng-src="{{dish.picture | image:100:100}}">-->
        <cl-image class="picture" alt="dish picture" public-id="{{dish.pictureId}}" format="jpg">
          <cl-transformation width="100" height="100" crop="fill" />
        </cl-image>

        <div class="informations">
          <div class="name">{{dish.name}}</div>
          <ul class="ingredients">
            <li class="ingredient" ng-repeat="ingredient in dish.ingredients">
              <a class="ingredient-filter" href="#">{{ingredient}}</a>
            </li>
          </ul>
        </div>

        <div class="pricing">
          <div class="price" ng-if="isNumber(dish.pricing)">
            <span class="currency">R$</span>
            {{dish.pricing | currency:''}}
          </div>

          <div class="price" ng-if="isArray(dish.pricing)" ng-repeat="pricing in dish.pricing">
            <div class="type">{{pricing.type}}</div>
            <span class="currency">R$</span>
            {{pricing.price | currency:''}}
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<aside id="sidebar">
  <section class="image-slider">
    <h2 class="title">Fotos do local</h2>
    <flex-slider animation="slide" slide="pictureId in placeCtrl.place.pictureIds track by $index" control-nav="false" smooth-height="true">
      <li>
        <cl-image public-id="{{pictureId}}" format="jpg">
          <cl-transformation width="300" height="200" crop="fill" />
        </cl-image>
      </li>
    </flex-slider>
  </section>

  <section class="place-info">
    <h2 class="title">Informações</h2>

    <div class="info">
      <div class="description">{{placeCtrl.place.description || '(Sem descrição disponível)'}}</div>
      <div class="address">
        <div class="field-name">Endereço:</div>
        <div class="field-value">
          {{placeCtrl.place.address.formatted}}
        </div>
      </div>
      <div class="phone">
        <div class="field-name">Telefone:</div>
        <div class="field-value">
          {{placeCtrl.place.phone}}
        </div>
      </div>
      <div class="delivery-time">
        <div class="field-name">Tempo de entrega:</div>
        <div class="field-value">
          {{placeCtrl.place.deliveryTime || '(Indisponível)'}}
        </div>
      </div>
      <div class="working-time">
        <div class="field-name">Horário:</div>
        <div class="field-value" ng-if="isEmpty(placeCtrl.place.workingTimes)">
          (Indisponível)
        </div>
        <div class="field-value" ng-if="!isEmpty(placeCtrl.place.workingTimes)">
          <div ng-repeat="workingTime in placeCtrl.place.workingTimes">
            <span class="day">{{workingTime.days | day}}</span>:
            <span class="time">{{workingTime.times | time}}</span>
          </div>
        </div>
      </div>
      <a class="call" ng-href="tel:{{placeCtrl.place.phone}}">Ligar</a>
    </div>
  </section>

</aside>


<footer id="page-footer">© 2014 Só Pizza - Todos os direitos reservados</footer>
