@import (reference) "lesshat";
@import (reference) "mixins";

.scroll-down {
  margin: auto;
  width: 3rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;

  &::after {
    .scale(5, 1.5);

    content: '▼';
    display: block;
    margin: 0.5rem;
  }
}
