.suggestions {
  text-align: center;

  .suggestion-list {
    margin: 0;
    padding: 0;
  }

  .suggestion {
    display: inline-block;
    margin: 0.5rem;
    padding: 0;
    border: 0.0625rem solid black;
    width: 25%;
    height: 2rem;
    background: pink;
  }
}
