@import (reference) "lesshat";
@import (reference) "mixins";
@import (reference) "variables";

.dish-menu {
  margin: 1rem auto;
  text-align: center;

  .title {
    padding: 1rem;
    margin: 0 auto;
    font-size: 2rem;
    width: 75%;
    background-color: @theme-dark-red;
    color: white;
  }

  .empty {
    #effects > .shadow();

    margin: 1rem 0;
    padding: 2rem;
    font-size: 1.5rem;
    color: gray;
    background: white;

    @media screen and (min-width: @device-medium) {
      font-size: 2rem;
      padding: 5rem;
    }

    @media screen and (min-width: @device-large) {
      padding: 7.5rem;
    }

    .title {
      margin: 1rem auto;
      padding: 0;
      color: gray;
      background: none;
      font-size: 3rem;

      @media screen and (min-width: @device-medium) {
        font-size: 4rem;
      }
    }
  }

  .dish-list {
    padding: 0;
    margin: 0;
  }

  .dish {
    @pricing-size: 10rem;

    #effects > .shadow();

    margin: 1rem 0;
    padding: 0.5rem;
    background: white;
    list-style: none;

    .picture {
      @picture-size: 4rem;

      vertical-align: middle;
      width: @picture-size;
      height: @picture-size;

      @media screen and (min-width: @device-medium) {
        @picture-size: 7rem;

        width: @picture-size;
        height: @picture-size;
      }
    }

    .informations {
      @picture-size: 4rem;

      display: inline-block;
      padding: 0 1rem;
      vertical-align: middle;
      text-align: left;
      width: calc(~"100% - @{picture-size}");

      @media screen and (min-width: @device-medium) {
        @picture-size: 7rem;

        width: calc(~"100% - @{picture-size} - @{pricing-size}");
      }

      .name {
        font-size: 1.75rem;
        font-weight: bold;
        margin: 0.25rem 0;
      }

      .ingredients {
        padding: 0;
        margin: 0;

        .ingredient {
          display: inline-block;
          list-style: none;
          font-weight: bold;
          margin: 0 0.0625rem;

          &:not(:last-child) {
            &::after {
              content: ', ';
            }
          }
        }

        .ingredient-filter {
          text-decoration: none;
          color: @theme-dark-red;
        }
      }
    }

    .pricing {
      display: flex;
      justify-content: space-around;

      vertical-align: middle;
      text-align: right;
      padding: 1rem;

      @media screen and (min-width: @device-medium) {
        width: @pricing-size;
        display: inline-block;
      }

      .type {
        margin: 0.25rem 0;
        font-size: 1rem;
        font-weight: normal;
        color: black;
      }

      .price {
        color: @theme-red;
        font-size: 2rem;
        font-weight: bold;

        .currency {
          font-size: 1rem;
        }
      }
    }
  }
}
