@import (reference) "lesshat";
@import (reference) "mixins";
@import (reference) "variables";

.image-slider {
  //background: white;
  text-align: center;

  .title {
    padding: 1rem;
    margin: 1rem auto;
    font-size: 2rem;
    width: 75%;
    background-color: @theme-dark-red;
    color: white;
  }
}
