@import (reference) "lesshat";
@import (reference) "mixins";

.logo {
  #elements > .shadow();

  position: absolute;
  left: 0;
  right: 0;
  top: 1rem;
  margin: auto;
  height: 5rem;

  .logo-link & {

  }
}
