@import (reference) "lesshat";
@import (reference) "mixins";

.logo {
  #effects > .shadow();

  position: absolute;
  left: 0;
  right: 0;
  top: 1rem;
  margin: auto;
  height: 5rem;
  z-index: 1000;

  &.small {
    top: 2rem;
    height: 3rem;

    &.side {
      left: 2rem;
    }
  }

  &.side {
    right: initial;
    left: 1rem;
  }

  &.responsive {
    display: none;

    @media screen and (min-width: @device-large) {
      display: block;
    }
  }
}
